/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Dosis:200,600);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
	background: #000;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

/* Header Style */
.codrops-top {
	text-transform: uppercase;
	position: relative;
	z-index: 1000;
	font-size: 0.68em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: rgba(255,255,255,0.2);
	display: inline-block;
}

.codrops-top a:hover {
	color: rgba(255,255,255,0.9);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

#wrapper {
  text-align:center;
  float:right;
  border:1px solid #000;
  width:inherit;
  margin:0;
  padding:0;
  background-color:#000;
}

#myTimer {
  font:15px Tahoma bold;
  padding:0;
  display:block;
  opacity:0.3;
}

button {
  width:inherit;
  padding:10px;
}

.btnEnable {
  background-color:#fff;
  border:1px solid #000;
  color:#232323;
  cursor:pointer;
  opacity:0.5;
}

.btnDisable {
  background-color:#fff;
  border:1px solid #000;
  color:#232323;
  cursor:wait;
  opacity:0.2;
}