@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
background:#e74c3c;
height:100%;
color:#fff;
font-family: 'caviar_dreamsregular';
}

#wrapper {
text-align:justify;
width:90%;
position:relative;
margin:2.5% 5% 2.5% 5%;
font-weight: 800;
	font-size: 1.2em;
}

#left{
float:left;
text-align:left;
height:inherit;
width:50%;
margin:5% 0 0 2%;
}

#border{
float:left;
height:120%;
width:2px;
border-style:outset;
margin:0 2% 0 2%;
}

#right{
float:left;
height:inherit;
font-size:2em;
width:30%;
margin:15% 5% 0 0%;
}
#right > p {
float:left;

margin: 2%;
}

#footer {
text-align:justify;
width:100%;
}

#left_f{
clear:both;
float:left;
height:auto;
width:100%;
margin:2% 0 0 0;
padding:0 3% 0 3%;
background:#535353;
position:inherit;
}

/*Button Style*/
.button {
    float:left;
    height:auto;
    font:76%/150% "Lucida Grande", Geneva, 
    Verdana, Arial, Helvetica, sans-serif;
    width:10em;
    text-align:center;
    white-space:nowrap;
}
/*Button Arrow Styles*/
.arrows {
    font-size:90%;
    margin:0.2em;
}
/*Button link styles*/
.button a:link, .button a:visited {
    color: #eee;
    background-color:#e74c3c;
    font-size:1em;
    font-weight:bolder;
    text-decoration: none;
    border-bottom:0.1em solid #E83623;
    border-right:0.1em solid #E83623;
    border-top:0.1em solid #EA685A;
    border-left:0.1em solid #EA685A;
    margin: 0.2em;
    padding:0.2em;
    display:block;
}
.button a:hover {
    background-color:#E83623;
    color:#999;
    border-top:0.1em solid #EA2A14;
    border-left:0.1em solid #EA2A14;
    border-bottom:0.1em solid #EA685A;
    border-right:0.1em solid #EA685A;
    padding:0.2em;
    margin: 0.2em;
}