@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/eve/ubuntu-l-webfont.eot');
    src: url('../fonts/eve/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eve/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/eve/ubuntu-l-webfont.ttf') format('truetype'),
         url('../fonts/eve/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	background:rgb(58,58,58);
	font-family: 'ubuntulight';
	font-weight:700;
}

#wrapper{
	width:98%;
	height:98%;
	border:3px solid rgb(100,100,100);
}

#news{
	width:32%;
	height:inherit;
	float:left;
	margin-right:10px;
	text-align:center;
}

#stock{
	width:32%;
	height:inherit;
	float:left;
	text-align:center;
	margin-right:15px;
}

#sub_stock{
	width:100%;
	height:48.5%;
	margin-bottom:3%;
	margin-right:10px;
	overflow-y:scroll;
}

#sub_submit{
	width:100%;
	height:48.5%;
	margin-bottom:-2%;
	margin-right:10px;
}
	
#submit{
	width:32%;
	height:inherit;
	float:left;
	text-align:center;
}

#border{
	float:left;
	height:100%;
	width:2px;
	border-left:3px solid rgb(100,100,100);
}

#border_v{
	float:left;
	height:2px;
	width:105%;
	border-top:3px solid rgb(100,100,100);
	padding-top:-3%;
}

a{
	text-decoration:none;
	color:#47a3da;
	font-size:25px;
}

h2{
	color:#47a3da;
	font-size:60px;
	text-transform:uppercase;
	padding: 30px 0 0;
	font-size: 60px;
	margin-bottom:2%;
}